/* reset css */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  html, body {
  overflow: hidden;
}
}

/* content */
.game-container {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 100vh;

  border: 3px #000 solid;
  background-color: #22a6ff;
}

img {
  width: 100px;
}
